<%- include("partials/header") %>
  <div class="container contact-form">
    <div class="contact-image">
      <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
    </div>
    <form method="post" action="/book/save">
      <h3>Adicionar Livro a Lista</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Ex: Harry Potter" />
          </div>
          <div class="form-group">
            <input type="text" name="author" class="form-control" placeholder="Ex: J. K. Rowling" />
          </div>
          <div class="form-group">
            <input type="text" name="isbn" class="form-control" placeholder="Ex: 9780050666319" />
          </div>
          <div class="form-group">
            <input type="submit" name="btnSubmit" class="btnContact" value="Salvar Livro" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <%- include("partials/footer") %>